doctype html
html(lang="en")
  head
    title= "Thermostat"
    meta(charset='utf-8')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
    script(src="conic-gradient.js")
  body

    - var min = 2, max = 34, val = 19;

    form(style=`--min: ${min}; --max: ${max}; --val: ${val};`)
      input#temp(type="range" min=min max=max value=val)
      label(for="temp") heating
      output(for="temp") #{val}
      button(style="--s: -1") decrease temperature
      button(style="--s: 1") increase temperature
    